<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body data-sa-theme="1">
<style>

</style>
<div class="wrapper">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header" style="text-align: center; padding: 30px;">
                    <h3 class="box-title" style="font-size: 30px;">Company & Person & Account Date</h3>
                </div>
                <!-- /.box-header -->
                <div class="d-flex">
                    <div class="form-group col-md-5">
                        <label>Search Category</label>
                        <select class="form-control search-category">
                            <option>--------------- Company Parameters ---------------</option>
                            <option value="c_CompanyNumber">CompanyNumber</option>
                            <option value="c_CompanyName">CompanyName</option>
                            <option value="c_RegAddress_CareOf">RegAddress_CareOf</option>
                            <option value="c_RegAddress_POBox">RegAddress_POBox</option>
                            <option value="c_RegAddress_AddressLine1">RegAddress_AddressLine1</option>
                            <option value="c_RegAddress_AddressLine2">RegAddress_AddressLine2</option>
                            <option value="c_RegAddress_PostTown">RegAddress_PostTown</option>
                            <option value="c_RegAddress_County">RegAddress_County</option>
                            <option value="c_RegAddress_Country">RegAddress_Country</option>
                            <option value="c_RegAddress_PostCode">RegAddress_PostCode</option>
                            <option value="c_CompanyCategory">CompanyCategory</option>
                            <option value="c_CompanyStatus">CompanyStatus</option>
                            <option value="c_CountryOfOrigin">CountryOfOrigin</option>
                            <option value="c_DissolutionDate">DissolutionDate</option>
                            <option value="c_IncorporationDate">IncorporationDate</option>
                            <option value="c_Accounts_AccountRefDay">Accounts_AccountRefDay</option>
                            <option value="c_Accounts_AccountRefMonth">Accounts_AccountRefMonth</option>
                            <option value="c_Accounts_NextDueDate">Accounts_NextDueDate</option>
                            <option value="c_Accounts_LastMadeUpDate">Accounts_LastMadeUpDate</option>
                            <option value="c_Accounts_AccountCategory">Accounts_AccountCategory</option>
                            <option value="c_Returns_NextDueDate">Returns_NextDueDate</option>
                            <option value="c_Returns_LastMadeUpDate">Returns_LastMadeUpDate</option>
                            <option value="c_Mortgages_NumMortCharges">Mortgages_NumMortCharges</option>
                            <option value="c_Mortgages_NumMortOutstanding">Mortgages_NumMortOutstanding</option>
                            <option value="c_Mortgages_NumMortPartSatisfied">Mortgages_NumMortPartSatisfied</option>
                            <option value="c_Mortgages_NumMortSatisfied">Mortgages_NumMortSatisfied</option>
                            <option value="c_SICCode_SicText_1">SICCode_SicText_1</option>
                            <option value="c_SICCode_SicText_2">SICCode_SicText_2</option>
                            <option value="c_SICCode_SicText_3">SICCode_SicText_3</option>
                            <option value="c_SICCode_SicText_4">SICCode_SicText_4</option>
                            <option value="c_LimitedPartnerships_NumGenPartners">LimitedPartnerships_NumGenPartners</option>
                            <option value="c_LimitedPartnerships_NumLimPartners">LimitedPartnerships_NumLimPartners</option>
                            <option value="c_URI">URI</option>
                            <option value="c_PreviousName_1_CONDATE">PreviousName_1_CONDATE</option>
                            <option value="c_PreviousName_1_CompanyName">PreviousName_1_CompanyName</option>
                            <option value="c_PreviousName_2_CONDATE">PreviousName_2_CONDATE</option>
                            <option value="c_PreviousName_2_CompanyName">PreviousName_2_CompanyName</option>
                            <option value="c_PreviousName_3_CONDATE">PreviousName_3_CONDATE</option>
                            <option value="c_PreviousName_3_CompanyName">PreviousName_3_CompanyName</option>
                            <option value="c_PreviousName_4_CONDATE">PreviousName_4_CONDATE</option>
                            <option value="c_PreviousName_4_CompanyName">PreviousName_4_CompanyName</option>
                            <option value="c_PreviousName_5_CONDATE">PreviousName_5_CONDATE</option>
                            <option value="c_PreviousName_5_CompanyName">PreviousName_5_CompanyName</option>
                            <option value="c_PreviousName_6_CONDATE">PreviousName_6_CONDATE</option>
                            <option value="c_PreviousName_6_CompanyName">PreviousName_6_CompanyName</option>
                            <option value="c_PreviousName_7_CONDATE">PreviousName_7_CONDATE</option>
                            <option value="c_PreviousName_7_CompanyName">PreviousName_7_CompanyName</option>
                            <option value="c_PreviousName_8_CONDATE">PreviousName_8_CONDATE</option>
                            <option value="c_PreviousName_8_CompanyName">PreviousName_8_CompanyName</option>
                            <option value="c_PreviousName_9_CONDATE">PreviousName_9_CONDATE</option>
                            <option value="c_PreviousName_9_CompanyName">PreviousName_9_CompanyName</option>
                            <option value="c_PreviousName_10_CONDATE">PreviousName_10_CONDATE</option>
                            <option value="c_PreviousName_10_CompanyName">PreviousName_10_CompanyName</option>
                            <option value="c_ConfStmtNextDueDate">ConfStmtNextDueDate</option>
                            <option value="c_ConfStmtLastMadeUpDate">ConfStmtLastMadeUpDate</option>
                            <option>--------------- Person Parameters ---------------</option>
                            <option value="p_address_line_1">address_line_1</option>
                            <option value="p_address_line_2">address_line_2</option>
                            <option value="p_country">country</option>
                            <option value="p_locality">locality</option>
                            <option value="p_postal_code">postal_code</option>
                            <option value="p_premises">premises</option>
                            <option value="p_region">region</option>
                            <option value="p_ceased_on">ceased_on</option>
                            <option value="p_country_of_residence">country_of_residence</option>
                            <option value="p_date_of_birth_month">date_of_birth_month</option>
                            <option value="p_date_of_birth_year">date_of_birth_year</option>
                            <option value="p_etag">etag</option>
                            <option value="p_kind">kind</option>
                            <option value="p_links_self">links_self</option>
                            <option value="p_name">name</option>
                            <option value="p_forename">forename</option>
                            <option value="p_middle_name">middle_name</option>
                            <option value="p_surname">surname</option>
                            <option value="p_name_title">name_title</option>
                            <option value="p_nationality">nationality</option>
                            <option value="p_natures_of_control">natures_of_control</option>
                            <option value="p_notified_on">notified_on</option>
                        </select>
                    </div>
                    <div class="form-group col-md-5">
                        <label>Search Value</label>
                        <input type="text" class="form-control search-value" placeholder="Input search value...">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success" style="margin-top: 2rem;" onclick="searchCompany()">
                            <i class="zwicon-search"></i> Search
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <table id="data-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>CompanyName</th>
                            <th>CompanyNumber</th>
                            <th>CompanyCategory</th>
                            <th>Status</th>
                            <th>Country</th>
                            <th>PersonName</th>
                            <th>BirthMonth</th>
                            <th>BirthYear</th>
                            <th>Kind</th>
                            <th>Locality</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for (let k = 0; k < results.length; k++) { %>
                            <tr id="<%= results[k].id %>" style="cursor: pointer;" onclick="viewDetail(<%= JSON.stringify(results[k]) %>)">
                                <td><%= k + 1 %></td>
                                <td><%= results[k].CompanyName %></td>
                                <td><%= results[k].CompanyNumber %></td>
                                <td><%= results[k].CompanyCategory %></td>
                                <td><%= results[k].CompanyStatus %></td>
                                <td><%= results[k].CountryOfOrigin %></td>
                                <td><%= results[k].name %></td>
                                <td><%= results[k].date_of_birth_month %></td>
                                <td><%= results[k].date_of_birth_year %></td>
                                <td><%= results[k].kind %></td>
                                <td><%= results[k].locality %></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

<!-- remove modal -->
<div class="modal fade" id="modal_delete_message" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body">
                <div class="form-group">
                    <i class="zwicon-info-circle" style="font-size: 7rem"></i>
                </div>
                <div class="form-group">
                    <h3><%= i18n.__('Are you sure to remove?') %></h3>
                </div>
                <input type="hidden" id="modal_delete_type">
                <input type="hidden" id="modal_delete_id">
                <button type="button" class="btn btn-link" onclick="onDeleteBtn()"><%= i18n.__('Remove') %></button>
                <button type="button" class="btn btn-link" data-dismiss="modal"><%= i18n.__('Cancel') %></button>
            </div>
        </div>
    </div>
</div>

<!-- Detail view modal -->
<div class="modal fade" id="modal-detail" tabindex="-1">
    <div class="modal-dialog modal-xl" style="width: fit-content">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail view (Company & Person)</h5>
            </div>
            <div class="modal-body" style="padding: 0">
                <div style="display: flex">
                    <div class="company-div pr-1" style="flex: 1;">
                        <table class="table table-bordered mb-0">
                            <thead>
                                <tr>
                                    <th colspan="2" style="text-align: center;">Company</th>
                                </tr>
                                <tr>
                                    <th style="text-align: center;">Field</th>
                                    <th style="text-align: center;">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td>CompanyName</td><td id="CompanyName"></td></tr>
                                <tr><td>CompanyNumber</td><td id="CompanyNumber"></td></tr>
                                <tr><td>RegAddress_CareOf</td><td id="RegAddress_CareOf"></td></tr>
                                <tr><td>RegAddress_POBox</td><td id="RegAddress_POBox"></td></tr>
                                <tr><td>RegAddress_AddressLine1</td><td id="RegAddress_AddressLine1"></td></tr>
                                <tr><td>RegAddress_AddressLine2</td><td id="RegAddress_AddressLine2"></td></tr>
                                <tr><td>RegAddress_PostTown</td><td id="RegAddress_PostTown"></td></tr>
                                <tr><td>RegAddress_County</td><td id="RegAddress_County"></td></tr>
                                <tr><td>RegAddress_Country</td><td id="RegAddress_Country"></td></tr>
                                <tr><td>RegAddress_PostCode</td><td id="RegAddress_PostCode"></td></tr>
                                <tr><td>CompanyCategory</td><td id="CompanyCategory"></td></tr>
                                <tr><td>CompanyStatus</td><td id="CompanyStatus"></td></tr>
                                <tr><td>CountryOfOrigin</td><td id="CountryOfOrigin"></td></tr>
                                <tr><td>DissolutionDate</td><td id="DissolutionDate"></td></tr>
                                <tr><td>IncorporationDate</td><td id="IncorporationDate"></td></tr>
                                <tr><td>Accounts_AccountRefDay</td><td id="Accounts_AccountRefDay"></td></tr>
                                <tr><td>Accounts_AccountRefMontd</td><td id="Accounts_AccountRefMontd"></td></tr>
                                <tr><td>Accounts_NextDueDate</td><td id="Accounts_NextDueDate"></td></tr>
                                <tr><td>Accounts_LastMadeUpDate</td><td id="Accounts_LastMadeUpDate"></td></tr>
                                <tr><td>Accounts_AccountCategory</td><td id="Accounts_AccountCategory"></td></tr>
                                <tr><td>Returns_NextDueDate</td><td id="Returns_NextDueDate"></td></tr>
                                <tr><td>Returns_LastMadeUpDate</td><td id="Returns_LastMadeUpDate"></td></tr>
                                <tr><td>Mortgages_NumMortCharges</td><td id="Mortgages_NumMortCharges"></td></tr>
                                <tr><td>Mortgages_NumMortOutstanding</td><td id="Mortgages_NumMortOutstanding"></td></tr>
                                <tr><td>Mortgages_NumMortPartSatisfied</td><td id="Mortgages_NumMortPartSatisfied"></td></tr>
                                <tr><td>Mortgages_NumMortSatisfied</td><td id="Mortgages_NumMortSatisfied"></td></tr>
                                <tr><td>SICCode_SicText_1</td><td id="SICCode_SicText_1"></td></tr>
                                <tr><td>SICCode_SicText_2</td><td id="SICCode_SicText_2"></td></tr>
                                <tr><td>SICCode_SicText_3</td><td id="SICCode_SicText_3"></td></tr>
                                <tr><td>SICCode_SicText_4</td><td id="SICCode_SicText_4"></td></tr>
                                <tr><td>LimitedPartnerships_NumGenPartner<td id="LimitedPartnerships_NumGenPartner"></td></tr>
                                <tr><td>LimitedPartnerships_NumLimPartner<td id="LimitedPartnerships_NumLimPartner"></td></tr>
                                <tr><td>URI</td><td id="URI"></td></tr>
                                <tr><td>PreviousName_1_CONDATE</td><td id="PreviousName_1_CONDATE"></td></tr>
                                <tr><td>PreviousName_1_CompanyName</td><td id="PreviousName_1_CompanyName"></td></tr>
                                <tr><td>PreviousName_2_CONDATE</td><td id="PreviousName_2_CONDATE"></td></tr>
                                <tr><td>PreviousName_2_CompanyName</td><td id="PreviousName_2_CompanyName"></td></tr>
                                <tr><td>PreviousName_3_CONDATE</td><td id="PreviousName_3_CONDATE"></td></tr>
                                <tr><td>PreviousName_3_CompanyName</td><td id="PreviousName_3_CompanyName"></td></tr>
                                <tr><td>PreviousName_4_CONDATE</td><td id="PreviousName_4_CONDATE"></td></tr>
                                <tr><td>PreviousName_4_CompanyName</td><td id="PreviousName_4_CompanyName"></td></tr>
                                <tr><td>PreviousName_5_CONDATE</td><td id="PreviousName_5_CONDATE"></td></tr>
                                <tr><td>PreviousName_5_CompanyName</td><td id="PreviousName_5_CompanyName"></td></tr>
                                <tr><td>PreviousName_6_CONDATE</td><td id="PreviousName_6_CONDATE"></td></tr>
                                <tr><td>PreviousName_6_CompanyName</td><td id="PreviousName_6_CompanyName"></td></tr>
                                <tr><td>PreviousName_7_CONDATE</td><td id="PreviousName_7_CONDATE"></td></tr>
                                <tr><td>PreviousName_7_CompanyName</td><td id="PreviousName_7_CompanyName"></td></tr>
                                <tr><td>PreviousName_8_CONDATE</td><td id="PreviousName_8_CONDATE"></td></tr>
                                <tr><td>PreviousName_8_CompanyName</td><td id="PreviousName_8_CompanyName"></td></tr>
                                <tr><td>PreviousName_9_CONDATE</td><td id="PreviousName_9_CONDATE"></td></tr>
                                <tr><td>PreviousName_9_CompanyName</td><td id="PreviousName_9_CompanyName"></td></tr>
                                <tr><td>PreviousName_10_CONDATE</td><td id="PreviousName_10_CONDATE"></td></tr>
                                <tr><td>PreviousName_10_CompanyName</td><td id="PreviousName_10_CompanyName"></td></tr>
                                <tr><td>ConfStmtNextDueDate</td><td id="ConfStmtNextDueDate"></td></tr>
                                <tr><td>ConfStmtLastMadeUpDate</td><td id="ConfStmtLastMadeUpDate"></td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="person-div pl-1" style="flex: 1;">
                        <table class="table table-bordered mb-0">
                            <thead>
                                <tr>
                                    <th colspan="2" style="text-align: center;">Person</th>
                                </tr>
                                <tr>
                                    <th style="text-align: center;">Field</th>
                                    <th style="text-align: center;">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td>address_line_1</td><td id="address_line_1"></td></tr>
                                <tr><td>address_line_2</td><td id="address_line_2"></td></tr>
                                <tr><td>country</td><td id="country"></td></tr>
                                <tr><td>locality</td><td id="locality"></td></tr>
                                <tr><td>postal_code</td><td id="postal_code"></td></tr>
                                <tr><td>premises</td><td id="premises"></td></tr>
                                <tr><td>region</td><td id="region"></td></tr>
                                <tr><td>ceased_on</td><td id="ceased_on"></td></tr>
                                <tr><td>country_of_residence</td><td id="country_of_residence"></td></tr>
                                <tr><td>date_of_birth_month</td><td id="date_of_birth_month"></td></tr>
                                <tr><td>date_of_birth_year</td><td id="date_of_birth_year"></td></tr>
                                <tr><td>etag</td><td id="etag"></td></tr>
                                <tr><td>kind</td><td id="kind"></td></tr>
                                <tr><td>links_self</td><td id="links_self"></td></tr>
                                <tr><td>name</td><td id="name"></td></tr>
                                <tr><td>forename</td><td id="forename"></td></tr>
                                <tr><td>middle_name</td><td id="middle_name"></td></tr>
                                <tr><td>surname</td><td id="surname"></td></tr>
                                <tr><td>name_title</td><td id="name_title"></td></tr>
                                <tr><td>nationality</td><td id="nationality"></td></tr>
                                <tr><td>natures_of_control</td><td id="natures_of_control"></td></tr>
                                <tr><td>notified_on</td><td id="notified_on"></td></tr>

                                <tr style="background-color: #bbb; color: black;"><td>current_assets_value</td><td id="current_assets_value"></td></tr>
                                <tr style="background-color: #bbb; color: black;"><td>previous_assets_value</td><td id="previous_assets_value"></td></tr>
                                <tr style="background-color: #bbb; color: black;"><td>current_creditors_value</td><td id="current_creditors_value"></td></tr>
                                <tr style="background-color: #bbb; color: black;"><td>previous_creditors_value</td><td id="previous_creditors_value"></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>

<% include ../partials/footer.ejs %>
<% include ../partials/foot.ejs %>
<script>

	$(document).ready(function () {
        $('#data-table').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });

        $("#search-table_filter input").attr('placeholder', 'Search in table...');
        let search_value = getUrlParameter('sv');
        if (search_value) {
            $(".search-value").val(search_value);
        }
        let search_category = getUrlParameter('sc');
        if (search_category) {
            $(".search-category").val(search_category);
        }
	});

    <!--let results = JSON.parse(`<%- JSON.stringify(results) %>`);-->

    function getUrlParameter(sParam) {
        let sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    }

    function searchCompany() {
        const search_value = $(".search-value").val();
        const search_category = $(".search-category").val();
        if (search_category != '--------------- Company Parameters ---------------'
                  && search_category != '--------------- Person Parameters ---------------'
                  && search_value) {
		    window.location.href = '?sc=' + search_category + "&sv=" + search_value;
        }
    }

    function viewDetail(result) {
    	const record = JSON.parse(JSON.stringify(result));
    	for (const key in record) {
    		$(`#${key}`).text(record[key]);
        }
        $("#modal-detail").modal();
    }

</script>
</body>
</html>